<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106281026987-9tv3jjp1amd4h49gf9s7o1nnpvl0b89u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106281026987-9tv3jjp1amd4h49gf9s7o1nnpvl0b89u</string>
	<key>API_KEY</key>
	<string>AIzaSyDLi-IntK1F6WLl81BOzOe8kDYrOgJ3APs</string>
	<key>GCM_SENDER_ID</key>
	<string>106281026987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asr.notesapp.notesTakingApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>asr-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>asr-notes-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106281026987:ios:45881bd15d43053e4bbeee</string>
</dict>
</plist>